body {
  /*font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif;*/
  font-family: 'Capriola', sans-serif;
  /* min-width: 65em; */
  /* height: 100vh; */
  /* width: 100vw; */
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

header {
  display: block;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #fff;
  background-color: #141c3a;
  width: 100%;
  /*
    margin-left: -3em;
    margin-right: -3em;
    */
}

.cheat-sheet {
  text-align: center;
  font-size: 30px;
}

.cheat-sheet-text {
  font-weight: 700;
  margin-top: 0em;
}

.html-tags {
  font-weight: 900;
}

h1 {
  font-size: 80px;
  margin-left: -1.3em;
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 0em;
}

.separator {
  color: orange;
  font-weight: bold;
}

main {
  display: block;
  width: inherit;
  padding-left: 5rem;
  padding-right: 5rem;
}

.main-content-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 1em;
}

.navigation-container {
  width: 262px;
}

nav {
  display: grid;
  font-size: 18px;
  border: 0.17rem solid #10162f;
  padding: 0 1em 0.3em 1em;
  position: relative;
  top: -40px;
  background-color: #fff;
}

nav h2 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
}

.table-of-content {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  color: black;
  text-decoration: none;
  font-size: 16px;
  padding-bottom: 0.8em;
  font-weight: bold;
}

section {
  display: grid;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 0 1em;
  position: relative;
  width: 80%;
  min-width: 500px;
  margin-top: 1rem;
}

.tag-elements {
  display: grid;
  width: auto;
  align-items: left;
}

.current-tag {
  display: grid;
  grid-template-columns: 30% 50%;
  grid-template-rows: auto;
  width: inherit;
  grid-gap: 0.5em;
  padding: 0em;
  margin: 0em;
  width: inherit;
}

main p {
  color: #201f1f;
  min-width: 20rem;
  max-width: 30rem;
  grid-column-start: 1;
  grid-column-end: 2;
}

h3 code {
  font-size: 20px;
}
p code {
  background-color: #ebe9e8;
  border-radius: 0.3em;
  padding: 0 0.25em 0 0.25em;
}

main p,
.code-illustration-container {
  display: block;
  width: auto;
}

.code-illustration-container {
  background-color: #211e2f;
  color: white;
  padding: 1em;
  margin: 0 3em;
  min-width: 30em;
  max-width: 40em;
  height: fit-content;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.tag {
  color: #e85d7f;
}

.attribute {
  color: #b4d353;
}

.value {
  color: #ffe083;
}

#myButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  background-color: rgb(10, 17, 42);
}

#myButton:hover {
  background-color: #4b4949;
}

.sticky {
  position: fixed;
  top: 40px;
}

@media only screen and (max-width: 600px) {
  .nav-menu {
  }
}
